/** --- Variables ---- **/
/** --- Global ---- **/
* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif !important; }

html,
body {
  margin: 0;
  padding: 0; }

h3 {
  margin-bottom: 0.25em;
  text-transform: uppercase;
  font-size: 1.65em;
  letter-spacing: 1px; }

h4 {
  font-size: 1.15em; }

/** --- Helpers ---- **/
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .v-center-stack {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.light {
  color: #FFFFFF; }

.dark-blue {
  color: #619EB3; }

.dark-gray {
  color: #4A4A4A; }

.dark-medium {
  color: #9B9B9B; }

.center-text {
  text-align: center; }

.center-block {
  display: block;
  margin: 0 auto; }

.bg-image {
  background-repeat: no-repeat;
  background-size: cover; }

/** --- Components ---- **/
.button {
  background-color: #619EB3;
  color: #FFFFFF;
  padding: 1em 2.5em;
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 2px; }

.underline {
  width: 4em;
  height: 4px;
  background: #B1D2DB;
  margin-bottom: 2em; }

/** --- Links---- **/
.wrap-links ul {
  list-style-type: none; }
  .wrap-links ul li a {
    text-decoration: none;
    text-transform: uppercase; }

/** --- Testimonials + Request Consultation ---- **/
.testimonials {
  min-height: 40vh;
  background-image: url("../images/ocean-background.png"); }

.request-consultation {
  background-color: #F3F3F3; }
  @media screen and (min-width: 40em) {
    .request-consultation .content-wrap {
      width: 50%; } }
  @media screen and (min-width: 64em) {
    .request-consultation .content-wrap {
      width: 40%; } }

.testimonials,
.request-consultation {
  padding: 4.375em 0; }
  .testimonials .button,
  .request-consultation .button {
    margin-top: 1.5em; }

/** --- Video ---- **/
.video {
  min-height: 60vh;
  background-color: #F3F3F3;
  padding: 6em 0; }
  .video .content-wrap {
    width: 90%;
    margin: 2.5em auto 0 auto; }
  .video .v-center-stack {
    padding-top: 3em; }
    @media screen and (min-width: 40em) {
      .video .v-center-stack {
        padding-top: 0; } }
    .video .v-center-stack p {
      margin-top: 0.75em;
      color: #4A4A4A; }
  .video span {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #619EB3; }

/** --- Certs---- **/
.certifications {
  border-bottom: 2px solid #F3F3F3;
  padding: 2em; }
  .certifications .v-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 40em) {
      .certifications .v-center {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .certifications div {
    padding: 1em; }
  .certifications .byline p {
    text-transform: uppercase;
    font-size: 10px;
    margin: 0.5em 0 0 0; }

/** --- Nav---- **/
.main-header,
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (min-width: 860px) {
  .main-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative; } }

@media screen and (min-width: 64em) {
  .main-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 115px; } }

.main-header .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2em 0; }
  @media screen and (min-width: 64em) {
    .main-header .logo {
      margin: 0 auto 0 3em; } }

.nav {
  padding: 0;
  margin: 0; }
  @media screen and (min-width: 860px) {
    .nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100vw;
      padding: 0 2em; } }
  @media screen and (min-width: 64em) {
    .nav {
      max-width: 1000px;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  .nav li {
    padding: 0.5em 0; }
    .nav li a {
      color: #619EB3; }
  .nav .hamburger {
    cursor: pointer;
    display: none; }
    @media screen and (min-width: 860px) {
      .nav .hamburger {
        display: block; } }
    @media screen and (min-width: 64em) {
      .nav .hamburger {
        margin-right: 2em; } }

/** --- Sub Menu---- **/
.sub-menu {
  text-align: center; }
  .sub-menu ul {
    width: 80%;
    margin: 0;
    padding-bottom: 2em; }
  .sub-menu .wrapper {
    height: 100%; }
  .sub-menu .cancel {
    display: none; }
  @media screen and (min-width: 860px) {
    .sub-menu {
      box-shadow: -1px -1px 1px 1px #F3F3F3;
      text-align: left;
      padding: 2em;
      position: absolute;
      width: 308px;
      height: 318px;
      top: -318px;
      right: 0;
      background: #FFFFFF;
      z-index: 999;
      transition: all 250ms ease; }
      .sub-menu.is-open {
        top: 0; }
      .sub-menu .cancel {
        display: block; }
      .sub-menu div {
        position: relative; }
        .sub-menu div svg {
          position: absolute;
          right: 25px;
          top: 25px; } }

/** --- End---- **/
/** --- Hero ---- **/
.hero {
  min-height: 60vh;
  background-image: url("../images/lisa-fisher-on-couch.png");
  position: relative; }
  .hero h1 {
    text-transform: uppercase;
    margin-top: 0; }
    @media screen and (min-width: 64em) {
      .hero h1 {
        margin-top: 3em; } }
  .hero .circles {
    position: absolute;
    bottom: 1.85em; }
  .hero .circle {
    height: 20px;
    width: 20px;
    border: 1px solid #FFFFFF;
    margin: 0 5px;
    border-radius: 100%; }
    .hero .circle-filled {
      background-color: #FFFFFF; }

/** --- Threes ---- **/
.threes {
  background-image: url("../images/aerial-ocean-background.png");
  padding: 1.5em; }
  .threes img {
    margin-right: 1.5em;
    padding: 0 1.5em; }
  .threes p {
    margin-bottom: 0;
    font-size: 0.8em;
    width: 400px; }
  .threes .v-center {
    padding: 1em 0; }
    @media screen and (min-width: 64em) {
      .threes .v-center {
        border-right: 1px solid #FFFFFF;
        padding: 0; }
        .threes .v-center:last-child {
          border: none; } }

/** --- Footer---- **/
footer {
  padding: 2em; }
  footer h4 {
    text-transform: uppercase; }
  footer ul {
    margin: 0;
    padding: 0; }
  footer a {
    font-size: 0.75em;
    color: #4A4A4A; }
  footer .bump-small {
    margin-top: 1.65em; }
  @media screen and (min-width: 40em) {
    footer .bump-large {
      margin-top: 1.65em; } }

/** --- Copyright---- **/
.copyright {
  height: 80px;
  border-top: 2px solid #F3F3F3; }
  .copyright p {
    font-size: 0.5em;
    margin-bottom: 0; }
