/** --- Footer---- **/
footer {
  padding: 2em;
  h4 {
    text-transform: uppercase;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    font-size: 0.75em;
    color: $darkGray;
  }
  .bump {
    &-small {
      @media screen and (max-width: 39.9375em) {
        margin-top: 1.65em;
      }
    }
    &-large {
      @media screen and (min-width: 40em) {
        margin-top: 1.65em;
      }
    }
  }
}

/** --- Copyright---- **/
.copyright {
  height: 80px;
  border-top: 2px solid $lightGray;
  p {
    font-size: 0.5em;
    margin-bottom: 0;
  }
}
